# diagnose failures by manually running as www-data like "sudo -u www-data cargo run"

[Unit]
Description=fruitfacts backend
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
Restart=on-failure
RestartSec=10
WorkingDirectory=/var/www/fruitfacts/backend/
ExecStart=start_server.sh

[Install]
WantedBy=multi-user.target
