# see https://stackoverflow.com/questions/61861930/nextjs-deployment-how-can-i-simply-deploy-nextjs-like-nodejs-on-ubuntu-server
# diagnose failures by manually running as www-data like "sudo -u www-data npm start"

[Unit]
Description=fruitfacts frontend
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
Restart=on-failure
RestartSec=10
WorkingDirectory=/var/www/fruitfacts/frontend/
ExecStart=npm start

[Install]
WantedBy=multi-user.target
